<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wlcm</title>
</head>
<body>
<hr>

<h1>Hlww Aalu Ji this side. 👋</h1>
<p>I hope you are doing well and good in your life.<br>Today want to ask you some important things, are you ready to answer???</p>

<form action = "/" method = post>

    <div>
        <label for = "nm">Name: </label>
        <input type = "text" id = "nm" name = "nm" placeholder = "Enter your name" required>
    </div>

    <br>

    <div>
        <label for = "bdt">Birth date: </label>
        <input type = "date" id = "bdt" name = "bdt" placeholder = "Enter your birthdate" required>
    </div>

    <br>

    <div>
        <label for = "rst"></label>
        <input type = "reset" id = "rst" name = "rst">
    </div>

    <br>

    <div>
        <label for = "sub"></label>
        <input type = "submit" id = "sub" name = "sub">
    </div>

</form>

<hr>
</body>
</html>